<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CommonLogic.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ProjectTROD.CommonLogic.My.Message" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="ProjectTROD.CommonLogic.My.MessageType" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <CommonLogic.My.MySettings>
            <setting name="SETTING_ORACLESID" serializeAs="String">
                <value>TRODDB02</value>
            </setting>
            <setting name="SETTING_ORA_USNM_MSTR" serializeAs="String">
                <value>MSTR</value>
            </setting>
            <setting name="SETTING_ORA_PAS_MSTR" serializeAs="String">
                <value>Password4059</value>
            </setting>
            <setting name="SETTING_ORA_USNM_MSKY" serializeAs="String">
                <value>MSKY</value>
            </setting>
            <setting name="SETTING_ORA_PAS_MSKY" serializeAs="String">
                <value>Password4059</value>
            </setting>
        </CommonLogic.My.MySettings>
        <ProjectTROD.CommonLogic.My.Message>
            <setting name="TR0100" serializeAs="String">
                <value>オペレータマスタに登録されていません。</value>
            </setting>
            <setting name="TR0110" serializeAs="String">
                <value>暗証番号に誤りがあります。</value>
            </setting>
            <setting name="TR0120" serializeAs="String">
                <value>入力禁止中です。</value>
            </setting>
            <setting name="TR0140" serializeAs="String">
                <value>{0}行目 会員利用明細が未登録期間です。</value>
            </setting>
            <setting name="TR0150" serializeAs="String">
                <value>極度ローン取引明細が未登録期間です。</value>
            </setting>
            <setting name="TR0160" serializeAs="String">
                <value>{0}行目 請求年月入力エラー</value>
            </setting>
            <setting name="TR0170" serializeAs="String">
                <value>ローン番号入力エラー</value>
            </setting>
            <setting name="TR0180" serializeAs="String">
                <value>{0}行目 会員番号入力エラー</value>
            </setting>
            <setting name="TR0190" serializeAs="String">
                <value>ローン番号又は会員番号のどちらかを入力して下さい。</value>
            </setting>
            <setting name="TR0200" serializeAs="String">
                <value>取引年月入力エラー</value>
            </setting>
            <setting name="TR0210" serializeAs="String">
                <value>選択入力エラー</value>
            </setting>
            <setting name="TR0220" serializeAs="String">
                <value>次頁があります。</value>
            </setting>
            <setting name="TR0230" serializeAs="String">
                <value>最終頁です。</value>
            </setting>
            <setting name="TR0240" serializeAs="String">
                <value>１件以上の入力が必要です。戻す場合には戻るボタンを使用してください。</value>
            </setting>
            <setting name="TR0250" serializeAs="String">
                <value>{0}行目 会員番号エラー（会員契約番号を入力してください）</value>
            </setting>
            <setting name="TR0260" serializeAs="String">
                <value>同一会員番号で期間が重複しています。</value>
            </setting>
            <setting name="TR0270" serializeAs="String">
                <value>照会受付番号エラー</value>
            </setting>
            <setting name="TR0280" serializeAs="String">
                <value>入力した照会受付番号は存在しません。</value>
            </setting>
            <setting name="TR0290" serializeAs="String">
                <value>入力された照会受付番号は他部署からの受付です。</value>
            </setting>
            <setting name="TR0300" serializeAs="String">
                <value>{0}行目 加盟店番号入力エラー</value>
            </setting>
            <setting name="TR0310" serializeAs="String">
                <value>{0}行目 グループコード入力エラー</value>
            </setting>
            <setting name="TR0320" serializeAs="String">
                <value>{0}行目 加盟店店舗集計番号入力エラー</value>
            </setting>
            <setting name="TR0330" serializeAs="String">
                <value>{0}行目 加盟店店舗番号入力エラー</value>
            </setting>
            <setting name="TR0340" serializeAs="String">
                <value>{0}行目 支払区分入力エラー</value>
            </setting>
            <setting name="TR0350" serializeAs="String">
                <value>{0}行目 加盟店売上明細が未登録期間です。</value>
            </setting>
            <setting name="TR0360" serializeAs="String">
                <value>{0}行目 ＭＡＣＨ／ＭＵＳＥ期間のまたがりは入力できません。</value>
            </setting>
            <setting name="TR0370" serializeAs="String">
                <value>{0}行目 ＭＡＣＨ期間中での入力はできません。</value>
            </setting>
            <setting name="TR0380" serializeAs="String">
                <value>{0}行目 入力の組合せ（パターン）が正しくありません。</value>
            </setting>
            <setting name="TR0390" serializeAs="String">
                <value>対象データがありません。</value>
            </setting>
            <setting name="TR0400" serializeAs="String">
                <value>照会依頼で１０以上の選択はできません。</value>
            </setting>
            <setting name="TR0410" serializeAs="String">
                <value>当部署コードでは帳票納品できません。</value>
            </setting>
            <setting name="TR0420" serializeAs="String">
                <value>ログインされている部署コードでは帳票納品できません。</value>
            </setting>
            <setting name="TR0430" serializeAs="String">
                <value>会員番号入力エラー</value>
            </setting>
            <setting name="TR0900" serializeAs="String">
                <value>管理マスタ制御プロシジャに障害が発生しました。</value>
            </setting>
            <setting name="TR0910" serializeAs="String">
                <value>ＤＢ障害 TBL={0} CODE={1} MSG={2}
TBL={0}　　　　　　：障害発生のテーブル名
CODE={1}　　　　　：Oracleより返されたSQLCODE
MSG={2}  　　　　　：Oracleより返されたSQLERRM</value>
            </setting>
            <setting name="TR0920" serializeAs="String">
                <value>会員番号ＣＤ計算プロシジャに障害が発生しました。</value>
            </setting>
            <setting name="TR0930" serializeAs="String">
                <value>{0}行目 本日分の検索許容量を超えた為、対象期間を短くするか翌営業日以降に再入力願います。
</value>
            </setting>
        </ProjectTROD.CommonLogic.My.Message>
        <ProjectTROD.CommonLogic.My.MessageType>
            <setting name="TR0100" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0110" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0120" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0140" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0150" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0160" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0170" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0180" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0190" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0200" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0210" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0220" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0230" serializeAs="String">
                <value>I</value>
            </setting>
            <setting name="TR0240" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0250" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0260" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0270" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0280" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0290" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0300" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0310" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0320" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0330" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0340" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0350" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0360" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0370" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0380" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0390" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0400" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0410" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0420" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0430" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0900" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0910" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0920" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="TR0930" serializeAs="String">
                <value>E</value>
            </setting>
        </ProjectTROD.CommonLogic.My.MessageType>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
